{% extends 'base.html' %}

{% block content %}

<h1>{{ post.title}}</h1>
<small>By: {{ post.author }}</small><br>
{{ post.body }}
<br>

{% if user.is_authenticated %}



<a href="{% url 'updatepost' post.pk %}">Update</a><br>

<a href="{% url 'deletepost' post.pk %}">Delete</a><br>

<a href="{% url 'commentpost' post.pk %}">Comment</a><br>


{% else %}

<h1><a href="{% url 'home' %}" class="btn btn-secondary">Back</a></h1>


{% endif %}


<h1>Comments....</h1><br>

{% if not post.comments.all %}
   NO comments yet!!!
   <a href="#">Add One</a>

{% else %}
 	{% for comment in post.comments.all %}
 			<small>BY: {{ comment.name }}</small>
 			<br>
 			<small> {{ comment.c_body }}</small> 
 	{% endfor %}
{% endif %}			 


{% endblock %}
